.container{
    font-family: 'Poppins';    
}

/* PROGRESSBAR */

.progressBar{
    margin: 35px 42px 45px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.garis{
    background-color: #E2E5EA;
    width: 291px;
    height: 2px;
    border-radius: 100%;
}

.lingkaransss{
    position: absolute;
    display: flex;
    column-gap: 115px;
    justify-content: space-evenly;
}

.lingkaran{
    background-color: #C6D2E2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/* ISI KATEGORI */
.isikategori{
    /* margin: 45px 25px 1px 25px; */
}

.edit{
    font-size: 12px;
    padding: 0.4rem;
    color: white;
    height: 6rem;
    border: 0;
    /* transform: scale(1); */
}

.judul{
    font-size: 14px;
    font-weight: 500;
    color: #64A5F9;
}

/* .row{
    margin-top: 10px !important;
} */

/* .col{
    width: 102px;
    height: 102px;
    border-radius: 8px;
    color: white;
    position: relative;
    margin-right: 10px;
}

/* .teks{
    font-size: 12px;
    bottom: 0;
    left: 0;
    position: absolute;   
    margin: 8px;
} */

.bobot5{
    background-color: #245595
}

.bobot4{
    background-color: #3977C6;
}

.bobot3{
    background-color: #69A2EC;
}

.bobot2{
    background-color: #7DB5FF;
}

.pw{
    padding: 5px;
}


/* BUTTON */

.tombol{   
    margin-top: 8rem;
    border-radius: 50%;
    color: #64A5F9;
}

.bawah{
    background-color: #64A5F9 !important;
    font-size: 15px !important;
    border-radius: 20px !important;
    border: 0 !important;
}

.clicked {
    background-color: #ADD8E6; /* Change the background color to red when clicked */
    color: #ffffff; /* Change the text color to white when clicked */
    /* Add any other styles you want to apply to the clicked element */
}