::-webkit-search-cancel-button{
    display: none;
  }

.container {
    font-family: 'Poppins';
    font-size: 13px;
    margin-bottom: 5rem;
}

.navbarr {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 66px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.text-danger{
    text-align: left;
    font-size: 14px;
}

.hide{
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.baglike .like-btn,
.baglike .dislike-btn {
    cursor: pointer;
    margin-right: 10px;
}

.unlike{
    font-variation-settings:
        'FILL' 0 !important;
}

.nonactivate {
    font-size: 36px !important;
    color: #C6D2E2;
}

.active {
    font-size: 36px !important;
    color: #64A5F9;
}



/* HEADER SEARCH BAR */
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.nyari {
    border: 0;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;

}

.nyari[type="search"]::placeholder {
    color: #D6D6D6;
}

.ikonnyari {
    vertical-align: middle;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

button[type="submit"] {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: transparent;
    border: 0;
}



/* HOME - POST */
.badanpost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin: 1.25rem 0.75rem 1.25rem 0.75rem;
    padding-bottom: 4.5rem;
}

.kotakpost {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
}

.bioyangpost {
    display: flex;
    align-items: center;
}


.photoprofile {
    background-color: #D6D6D6;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.databaseName {
    font-weight: 600;
}

.waktungepost {
    color: #D4D4D4;
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 11px;
}

.namepost {
    font-size: 12px;
    margin-left: 0.5rem;
}

.isipost {
    margin-top: 9px;
    font-size: 12px;
}

.actionpost {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.baglike {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F96464;
}

.bagreply {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #64A5F9;
}

.garisver{
  background-color: #B9B9B9;
  height: 20px;
  width: 1.2px;
  justify-content: center;
}

/* KOMEN */

.garis {
    background: #d3d3d35a;
    height: 0.02rem;
    margin-bottom: 0.8rem;
}

.bioyangkomen {
    display: flex;
}

.photoprofile2 {
    background-color: #D6D6D6;
    width: 22px;
    height: 22px;
}

.isireply{
  font-size: 12px;
}

.namekomen {
    font-size: 12px;
    margin-right: 0.3rem;
}

.isikomen {
    font-size: 12px;
}


.bikinpost {
    margin-bottom: 6rem;
    margin-right: 1.5rem !important;
    border-radius: 100% !important;
}

.ciptain{
    border-radius: 100% !important;
    height: 4rem !important;
    width: 4rem !important;
}

.namayangngepost{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0.1rem;
    margin-right: 0.3rem;
    font-size: 12px;
}

.buatreply{
    margin-top: 1rem !important;
    display: flex;
    align-items: center;
}

.tombolreply{
  border: none;
  background: none;
  color: #B9B9B9;
  margin-left: -5px;
}

.hideshow{
  border: none;
  background: none;
  color: #7d7d7d;
  padding: 10px 0 10px 25px;
  font-size: 11px;
}

.inputreply{
    width: 100%;
    border: none;
    resize: none;
}

.ngepost{
    color: #64A5F9;
    background: none;
    border: none;
}

.waktukomen {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 12px;
}


/* INFOGRAFIS */
.boxinfografis {
    background-color: white;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
}

.buletin {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
}

.kustom {
    border-radius: 2.5px;
}

/* REPLY YANG KEDUA */
.bagianreply{
  display: flex;
  padding-left: 2rem !important;
}

.isirpely {
  font-size: 12px;
}


/* Modal Add Post */
.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s linear;
  }
  
  .bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;
    z-index: -1;
  }
  
  .bottom-sheet .content {
    height: 50vh;
    max-height: 100vh;
    width: 100%;
    max-width: 1150px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
  }

  .modal-button{
    display: flex;
    justify-content: flex-end;
  }

  .postBtn{
    background-color: #64A5F9;
    color: #FFFFFF;
    width: 80px;
    height: 29px;
    text-align: center;
    border-radius: 20px;
    border: 0;
  }

  .container-info{
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .container-isi{
    width: 100%;
  }

  #ppModal{
    flex: 0 0 auto;
    margin-right: 10px;
  }

.texta {
    width: 100%;
    height: 150px;
    padding: 10px; 
    resize: vertical;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
}

#postImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.ciptains{
    margin-top: 0.7rem !important;
}
  
  .bottom-sheet.show .content {
    transform: translateY(0%);
  }
  
  .bottom-sheet.dragging .content {
    transition: none;
  }
  
  .bottom-sheet.fullscreen .content {
    border-radius: 0;
  }
  
  .bottom-sheet .content .modal-header {
    display: flex;
    justify-content: center;
  }
  
  .bottom-sheet .content .modal-header .drag-icon {
    padding: 15px;
    margin-top: -15px;
    cursor: grab;
    user-select: none;
  }
  
  .bottom-sheet .content .modal-header .drag-icon span {
    height: 2px;
    width: 70px;
    background: #B9B9B9;
    display: block;
    border-radius: 50px;
  }
  
  .bottom-sheet .content .modal-body {
    height: 100%;
    padding: 15px 0 40px;
    overflow-y: auto;
  }
  
  .bottom-sheet .content .modal-body::-webkit-scrollbar {
    width: 0;
  }
  
  .bottom-sheet .content .modal-body h2 {
    font-size: 1.8rem;
  }
  
  .bottom-sheet .content .modal-body p {
    font-size: 1.06rem;
    margin-top: 20px;
  }

  /* Poster */
  .community-post {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: #000;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
  
  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .post-image.zoomed {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  
  
  /* KOMEN BENTUK BARU */
  