.container-fluid{
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.formnya{
    margin-top: 100px;
}

h2{
    font-family: 'Rozha One';
}


p{
    font-family: 'Poppins';
    font-size: 14px;
}



.circle{
    height: 70%;
    width: 95%;
    background-image: radial-gradient(circle at center, rgba(100, 165, 249, 40%),white);
    position: absolute;
    top: -150px;
    z-index: -1;
}