.container-fluid{
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    font-family: 'Poppins';
}

h2{
    font-family: 'Rozha One';
    font-size: 22px;
}


p{
    font-family: 'Poppins';
    font-size: 14px;
}

.formnya{
    margin-top: 145px;
    display: grid;
    justify-content: center;
}

.mb-3 input[type="text"]{
    width: 291px;
    background-color: #F1F1F5;
    color: black;
    
}

    .mb-3 input[type="text"]::placeholder{
        color: #D6D6D6;
    }

.d-grid{
    margin-top: 84px;
}

button[type="button"]{
    width: 100%;
    background-color: #348AFA;
    border-color: #348AFA;
    border-radius: 20px;
}

.needhelp{
    color: black;
    margin-top: 25px;
    font-size: 12px;
}

.circle{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at top, rgba(100, 165, 249, 40%),white 45%);
    position: absolute;
    z-index: -1;
}
