body{
    font-family: 'Poppins' !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    color: #fff;
    background-color: #64A5F9;
    border-color: #64A5F9;
    border-radius: 50px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #64A5F9;
    --bs-btn-disabled-border-color: #64A5F9;
}
#submit:hover{
    color: #fff;
    background-color: #348cff;
    border-color: #348cff;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
}
#submit:active{
    color: #fff;
    background-color: #348cff;
    border-color: #348cff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#review{
    /* background-color: red; */
    width: 75dvw;
    min-height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.atas{
    width: 100dvw;
    /* left: 0; */
    /* margin-left: -12px; */
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: -.75rem;
    /* box-shadow: 0px 0.1px 10px rgb(66, 66, 66); */
    border-bottom: 1px solid #90A0A3;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 2;
}

.balik {
    margin-right: 10px;
    /* background-color: #09f; */
}

.balik a, .content a{
    color: black;
    text-decoration: none;
}

.yourreport {
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    align-items: center;
    font-size: x-large;
    font-weight: 500;
  
}

.yourreport p, .balik span {
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contentnya{
    /* background-color: red; */
    padding-top: 90px;
    padding-bottom: 20px;
}

.lingkarannya{
    /* background-color: #09f; */
    margin-bottom: 20px;
}

#counselorName{
    font-weight: 600;
}

.bawah{
    height: 70vh;
    padding: 2rem 1rem 2rem 1rem;
}

.textjudul{
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    /* margin-left: 0.8rem; */
}

.datadiri, .datadiri2, .kasihrate{
    /* background-color: red; */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(143, 143, 143);
    margin: 20px 0px 20px 0px;
}

#detailkonsul, #kasihrating{
    font-weight: bold;
    font-size: medium;
    text-align: left;
    /* width: 100%; */
}

.item{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 8px;
}

.jenis{
    color: rgb(37, 37, 37);
    /* font-size: medium; */
    font-weight: 400;
    flex: 1; 
    text-align: left;
    
}

#nomor, #jamkonsul, #tanggal{
    font-size: medium;
    color: #272727; 
    /* flex: 1;  */
    justify-content: flex-end;
    text-align: right;
}

#note{
    font-size: medium;
    text-align: justify;
}







.daridata{
    color: #000;
    font-size: 24px;
    padding-left: 1.5rem;
}

.photoprofile{
    display: flex;
    justify-content: center;
}

.lingkarannya{
    background-color: #D6D6D6;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileImage {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
}
.datadiri span{
    font-size: 20px;
}

.Nominal {
    display: flex;
    width: 100%;
    /* justify-content: flex-end; */

}

.PaymentNominal {
    flex: 1; 
}

.NominalRupiah {
    flex: 1; 
    justify-content: flex-end;
    text-align: right;
}

.Time{
    display: flex;
    width: 100%;
}

.PaymentTime {
    flex: 1; 
}

.Timedate {
    flex: 1; 
    justify-content: end;
    text-align: right;

}

.kasihrate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 15px 0px;
}
/* button{
    color:#000;
    background-color: #09f;
} */

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #90A0A3;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #F79426;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #FECE31;
    text-shadow: 0 0 5px #09f;
}