body{
  background-color: rgba(246, 246, 246, 0.903);
}

.topnav{
  margin-top: 3dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295); */
}

.topnav input[type=text] {
  border-radius: 100px;
  width: 90dvw;
  background-color: rgba(134, 134, 135, 0.133);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295);
}

h2 {
  margin-top: 25px;
  margin-left: 5dvw;
  font-weight: bold;
  font-size: medium;
}


h5 {
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

#container {
  width: 100dvw;
  margin: 0 auto;
  font-family: sans-serif;
  /* display: flex;
  flex-wrap: wrap; */
  /* background-color: brown; */
}

p {
  text-align: left;
  font-size: small;
}

.dct_img{
  /* width: 174px; */
  /* height: width; */
  /* padding-top: 100%; */
  aspect-ratio: 1/1;
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295); */
}

.card{
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  /* border-color: black; */
  border-radius: 15px 15px 15px 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295);
}

img.gambar{
  max-width: 200px;
  aspect-ratio: 1/1;
}

.NamaJob{
  margin-top: 5px;
  margin-left: 5px;
}

#carouselExample{
  padding-left: 5dvw;
}



#sortname{
  margin-top: -5px;
  margin-bottom: 15px;
  /* background-color: red; */
}

#sortdoctor{
  padding-left: 5dvw;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

.sortcard {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  width: 90dvw;
  /* min-width: px; */
  max-width: 670px;
  align-items: center;
  margin: auto auto 25px 0px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295);
  /* background-color: #fff; */
}

.sortcard img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 10px;
  margin-right: 1rem;
}

.sortcard-info {
  flex: 1;
}

.sortcard-info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.sortcard-info p {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  color: #666;
}

.sortcard-info span {
  font-size: 0.875rem;
  color: #333;
}

