body{
  background-color: rgba(246, 246, 246, 0.903);
}

.topnav{
  /* background-color: #8a2be2; */
  margin-top: 3dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav input[type=text] {
  /* background-color: aqua; */
  border-radius: 100px;
  width: 90dvw;
  background-color: rgba(134, 134, 135, 0.133);
}


#container {
  width: 100dvw;
  margin: 0 auto;
  font-family: sans-serif;
}

h2 {
  margin-top: 25px;
  padding-left: 5dvw;
  /* background-color: red; */
  font-weight: bold;
  font-size: medium;
}

#sortname{
  /* margin-top: -10px; */
  /* background-color: tomato; */
}

h5 {
  /* background-color: rebeccapurple; */
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

p {
  /* background-color: rebeccapurple; */
  text-align: left;
  /* font-weight: bold; */
  font-size: small;
}

.dct_img{
  width: 174px;
  height: 174px;
  border-radius: 10px 10px 0px 0px;
}

.card{
  background-color: rgb(255, 255, 255);
  /* display: inline-block; */
  /* max-width: 150px; */
  border-radius: 10px;
  margin-right: 10px;
}

.NamaJob{
  margin-left: 5px;
}

#carouselExample{
  /* background-color: purple; */
  padding-left: 5dvw;
}
