@import url('https://fonts.googleapis.com/css?family=Assistant');
body {
  background: #eee;
  font-family: Assistant, sans-serif;
}

.col-10{
    /* display: flex;
    row-gap: 100px; */
    /* background-color: violet; */
    width: 60dvw;
}


#nama{
    font-weight: bolder;
    font-size: large;
}

.btn{
    /* background-color: #ff0000; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    right: 0;
    margin-left: 5px;
}